@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
  --BrightOrange: hsl(31, 77%, 52%);
  --DarkCyan: hsl(184, 100%, 22%);
  --VeryDarkCyan: hsl(179, 100%, 13%);

  --TransparentWhite: hsla(0, 0%, 100%, 0.75);
  --VeryLightGray: hsl(0, 0%, 95%);
}

html{
  font-size: 15px;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Lexend Deca', sans-serif;
  background-color: var(--TransparentWhite);
  color: var(--TransparentWhite);
}
 /* cantainer */
.container{
  padding: 20px;
}

/* all card style */
.card{
  padding: 55px; 
}

.card h3{
  font-size: 36px;
  font-family: 'Big Shoulders Display', cursive;
  margin: 30px 0;
  text-transform: uppercase;
}

.card p{
  line-height: 1.6;
}

/* button style */
.btn{
    margin-top: 30px;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid var(--TransparentWhite);
}

/* backgroud color style */
.orange{
  background: var(--BrightOrange);
  border-top-right-radius: 10px 10px;
  border-top-left-radius: 10px 10px; 
}

.orange .btn{
  color: var(--BrightOrange);
}

.orange .btn:hover{
  background: var(--BrightOrange);
  color:  var(--TransparentWhite);
  border: 2px solid var(--VeryLightGray);
}

.cyan{
  background: var(--DarkCyan);
}

.cyan .btn{
  color: var(--DarkCyan);
}

.cyan .btn:hover{
  background: var(--DarkCyan);
  color:  var(--TransparentWhite);
  border: 2px solid var(--VeryLightGray);
}

.dark-cyan{
  background: var(--VeryDarkCyan);
  border-bottom-right-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px; 
}

.dark-cyan .btn{
  color: var(--VeryDarkCyan);
}

.dark-cyan .btn:hover{
  background: var(--veryDarkCyan);
  color:  var(--TransparentWhite);
  border: 2px solid var(--VeryLightGray);
}

/* for desktop view */
@media all and (min-width:1140px){
 .container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  min-height: 100vh;
  margin: auto;
 }

 .orange{
  border-top-right-radius: 0;
  border-top-left-radius: 10px 10px; 
  border-bottom-left-radius: 10px 10px;
}

.dark-cyan{
  border-bottom-right-radius: 10px 10px;
  border-bottom-left-radius: 0; 
  border-top-right-radius :10px 10px;
}

.card {
  padding: 55px;
}

.card p{
  line-height: 1.7;
} 

.btn{
    margin-top: 70px;
}

}

   .attribution { font-size: 11px; text-align: center; margin-bottom: 5px; }
   .attribution a { color: hsl(228, 45%, 44%); }